<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <configSections>
        <section name="MyCompanyAppSettingsNVExample"
            type="System.Configuration.NameValueFileSectionHandler, System,
            Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            restartOnExternalChanges="false" />
        <section name="MyCompanyAppSettingsHTExample"
            type="System.Configuration.DictionarySectionHandler, System,
            Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            restartOnExternalChanges="false" />
        <section name="MyCompanyAppSettingsSTExample"
          type="System.Configuration.SingleTagSectionHandler, System,
            Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          restartOnExternalChanges="false" />
        <section name="MyCompanySettings" type="MyCompanySettings" />
    </configSections>
    <MyCompanyAppSettingsNVExample>
        <add key="Key1" value="This is value 1" />
        <add key="Key2" value="This is value 2" />
    </MyCompanyAppSettingsNVExample>
    <MyCompanyAppSettingsSTExample Key1="This is value 1" Key2="This is value 2" />
    <connectionStrings>
        <add name="ExampleApplication" connectionString="server=ExampleApplicationServer;database=ExampleApplicationDB;uid=WebUser;pwd=P@$$worD9"
          providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.5"/>
        <httpRuntime targetFramework="4.5"/>
    </system.web>
</configuration>