<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="false" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <!--
      setting for globalization
      <globalization culture="auto" uiCulture="auto" />
      -->

    <!--
      settings for security trimming
    
    <authentication mode="Forms" />
    <roleManager enabled="true" />

    <siteMap>
      <providers>
        <clear />
        <add siteMapFile="web.sitemap" name="AspNetXmlSiteMapProvider"
            type="System.Web.XmlSiteMapProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
            securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
    -->

  </system.web>


  <!-- 
    settings for security trimming
  <location path="AdminOnly.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
    -->

</configuration>
