@{
    var sidebarStyle = "#Sidebar { float: right; width: 15%; margin: 0; " + 
                       "padding: 5px; background-color: #f2f2f2; border: 1px solid #999; } " + 
                       "#MainContent { width: 80%; float: left; }";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@Page.Title</title>
        <style>
            body { font-family: Arial; font-size: 11pt; }
            header { background-color: #3E5CA2; color: #fff; }
            footer { clear: both; text-align: center; font-size: 9pt; }
            @if (IsSectionDefined("Sidebar")) {
                @sidebarStyle
            }
        </style>
    </head>
    <body>
        <header>
            <h1>My Honey-Do List</h1>
        </header>  
        @if (IsSectionDefined("Sidebar")) {
        <aside id="Sidebar">
            @RenderSection("Sidebar")
        </aside>
        }
        <section id="MainContent">
            @RenderBody()
        </section>
        <footer>
            Copyright 2013. All Rights Reserved.
        </footer>
    </body>
</html>