@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        @AmazonBooks.TextAndImage("1118311809")
    </body>
</html>
