<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="MyCompanyAppSettings"
            type="System.Configuration.NameValueFileSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            restartOnExternalChanges="false" />
    </configSections>
    <MyCompanyAppSettings>
        <add key="Key1" value="This is value 1" />
        <add key="Key2" value="The is value 2 in staging" />
    </MyCompanyAppSettings>
    <system.web>
      <compilation targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
</configuration>